Options +FollowSymlinks
RewriteEngine on

RewriteRule ^home$ index.php
RewriteRule ^about$ index.php
RewriteRule ^tos$ index.php
RewriteRule ^login$ index.php?uaction=login
RewriteRule ^signin$ index.php?uaction=login
RewriteRule ^signup$ index.php?uaction=register
RewriteRule ^register$ index.php?uaction=register

RewriteRule ^home/$ index.php
RewriteRule ^about/$ news.php?paction=view&pid=2
RewriteRule ^login/$ index.php?uaction=login
RewriteRule ^signin/$ index.php?uaction=login
RewriteRule ^signup/$ index.php?uaction=register
RewriteRule ^register/$ index.php?uaction=register

RewriteRule ^problem.([A-Za-z0-9-]+).([A-Za-z0-9-]+)$ index.php?pid=$2&paction=$1

RewriteRule ^solution.([A-Za-z0-9-]+).([A-Za-z0-9-]+)$ index.php?pid=$2&paction=$1&pxtion=solution

#RewriteRule ^solution.view.([A-Za-z0-9-]+)$ index.php?pid=$1&pxtion=solution
#RewriteRule ^solution.new.([A-Za-z0-9-]+)$ index.php?pid=$1&pxtion=solution&paction=new
#RewriteRule ^solution.edit.([A-Za-z0-9-]+)$ index.php?pid=$1&pxtion=solution&paction=edit
#RewriteRule ^solution.delete.([A-Za-z0-9-]+)$ index.php?pid=$1&pxtion=solution&paction=delete

RewriteRule ^user.view.([A-Za-z0-9-]+)$ index.php?uaction=view&xid=$1
#RewriteRule ^user/view/([A-Za-z0-9-]+)$ index.php?uaction=view&xid=$1
RewriteRule ^user.edit.([A-Za-z0-9-]+)$ index.php?uaction=edit&xid=$1
#RewriteRule ^user/edit/([A-Za-z0-9-]+)$ index.php?uaction=edit&xid=$1
RewriteRule ^user.delete.([A-Za-z0-9-]+)$ index.php?uaction=delete&xid=$1
#RewriteRule ^user/delete/([A-Za-z0-9-]+)$ index.php?uaction=delete&xid=$1
RewriteRule ^user.save index.php?uaction=save
#RewriteRule ^user/save index.php?uaction=save
RewriteRule ^user.register$ index.php?uaction=register
#RewriteRule ^user/register$ index.php?uaction=register
RewriteRule ^user.login$ index.php?uaction=login
#RewriteRule ^user/login$ index.php?uaction=login
RewriteRule ^user.reset$ index.php?uaction=reset
#RewriteRule ^user/reset$ index.php?uaction=reset
RewriteRule ^user.manage$ index.php?uaction=manage
#RewriteRule ^user/manage$ index.php?uaction=manage


RewriteRule ^news.add$ news.php?action=add [L]
RewriteRule ^news/add$ news.php?action=add [L]
RewriteRule ^news.manage$ news.php?action=manage [L]
RewriteRule ^news/manage$ news.php?action=manage [L]
RewriteRule ^news.save$ news.php?action=save [L]
RewriteRule ^news/save$ news.php?action=save [L]
RewriteRule ^news.edit.([A-Za-z0-9-]+)$ news.php?action=edit&id=$1 [L]
RewriteRule ^news/edit/([A-Za-z0-9-]+)$ news.php?action=edit&id=$1 [L]
RewriteRule ^news.delete.([A-Za-z0-9-]+)$ news.php?action=delete&id=$1 [L]
RewriteRule ^news/delete/([A-Za-z0-9-]+)$ news.php?action=delete&id=$1 [L]
RewriteRule ^news.view.([A-Za-z0-9-]+)$ news.php?action=view&id=$1 [L]
RewriteRule ^news/view/([A-Za-z0-9-]+)$ news.php?action=view&id=$1 [L]
RewriteRule ^news$ news.php [L]
RewriteRule ^news/$ news.php [L]

php_value memory_limit 128M

# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:GuQadu
ErrorDocument 404 /404.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE GuQadu:ERRORPAGEID
